:root {
    /* colors */
    --primary-color: #3B523B;
    --secondary-color: #BBD6BA;
    --tertiary-color: #0175ac;
    --quaternary-color: #FFFBCE; 


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

#above-nav {
    padding: 1rem;
}

/* navigation */

nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 1fr;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

#nav-list li a {
    text-align: center;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--first-color);
}

#nav-list li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.current-page-tab {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* main */

main {
    flex: 1;
    padding: 1rem;
}

/* footer */

footer {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}
