:root {
    /* colors */
    --primary-color: #3B523B;
    --secondary-color: #BBD6BA;
    --tertiary-color: #0175ac;
    --quaternary-color: #FFFBCE; 


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    
    padding: 1rem;
    border-radius: 1rem;
    border-color: var(--secondary-color);
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    font-size: large;
    font-weight: bold;
}

dialog {
  transition: scale .3s ease allow-discrete, opacity .3s ease allow-discrete;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: 50% 50%;
  max-width: 90vw;
  max-height: 90vh;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  scale: 1;
  opacity: 1;
}

@starting-style {
  dialog[open] {
    scale: 0;
    opacity: 0;
  }
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* header */

header {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

#above-nav {
    padding: 1rem;
}

/* navigation */

nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 1fr;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

#nav-list li a {
    text-align: center;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--first-color);
}

#nav-list li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.current-page-tab {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* main */

main {
    flex: 1;
    padding: 1rem;
    
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

/* menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

/* info */
.infoElement {
    margin: 1rem;
}

.trait-button {
    background-color: var(--primary-color);
    margin: .5rem;  
}

.trait-dialog {
    padding: 1rem;
    border-radius: 1rem;
    max-width: 500px;
}

.trait-description {
    padding: 1rem;
}

/* footer */

footer {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}
